.Product{
    border: 1px solid black;
    border-radius: 14px;
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
}

.Product ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
